:root {
  --primary-color: rgba(75, 75, 75, 1);
  --secondary-color: rgb(128, 128, 128);
}
body {
  padding-bottom: 20px;
  padding-top: 57px;
}

h1 {
  color: var(--primary-color);
  font-size: 40px;
  font-weight: 550;
  letter-spacing: 1px;
  opacity: 0.9;
}

h2 {
  color: var(--secondary-color);
  font-size: 30px;
  font-weight: 550;
  letter-spacing: 1px;
  opacity: 0.9;
}

i {
  color: var(--secondary-color);
  font-size: 40px;
}

p {
  color: var(--primary-color);
  font-size: 16px;
}

small {
  color: var(--secondary-color);
  text-align: center;
}

.about {
  position: relative;
}

.about-imgs {
  width: 100%;
  height: auto;
}

.contact p {
  line-height: 28px;
}

.header {
  position: relative;
}

.header .main-border {
  border: 2px solid var(--secondary-color);
  height: 200px;
  width: 100%;
}

.header .profile {
  position: absolute;
  top: 0%;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: auto;
  margin: 0 auto;
}

.map {
  height: 250px;
  width: 100%;
  background-color: blue;
}

@media (max-width: 500px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 25px;
  }
}

@media (max-width: 420px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 12px;
  }
}
