:root {
  --primary-color: rgba(75, 75, 75, 1);
  --secondary-color: rgb(128, 128, 128);
}

.primary {
  color: var(--primary-color);
}

a {
  color: whitesmoke;
  display: block;
  margin: 0px;
}

body {
  padding-bottom: 20px;
  padding-top: 100px;
}

h1 {
  color: var(--primary-color);
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0;
}

h2 {
  color: var(--primary-color);
  font-size: 27px;
  font-weight: 400;
  letter-spacing: 2px;
  white-space: nowrap;
}

i {
  color: var(--secondary-color);
  font-size: 60px;
}

i:hover {
  cursor: pointer;
}

img {
  padding: 0;
    max-width: 100%;
    height: 100%;
  }
}

p {
  color: var(--primary-color);
  font-size: 16px;
}

.about-button {
  background-color: var(--primary-color);
  color: rgba(245, 245, 245, 0.911);
  padding-left: 30px;
  padding-right: 30px;
}

.btn {
  color: whitesmoke !important;
}

.overlay {
  bottom: 0;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  position: absolute;
  transition: 0.4s ease-in;
  width: 100%;
}

.portfolio-thumbnail {
  position: relative;
}

.portfolio-thumbnail a {
  background-color: black;
  border: 3px solid whitesmoke;
  letter-spacing: 0.5px;
  padding-top: 48%;
}

.portfolio-thumbnail:hover .overlay {
  opacity: 0.8;
}

.project-button {
  background-color: var(--primary-color);
}

@media (max-width: 1153px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
}

@media (max-width: 992px) {
  .hide-button {
    display: none;
  }
  .project-button {
    display: none;
  }
}

@media (max-width: 435px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 15px;
  }
  p {
    font-size: 12px;
  }
}
